<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1>argy bargy arch barch barch</h1>
    <h1><%= :team_name + @team_name%></h1>
    <h2><%= :coach + @coach%></h2>
    <h2><%= "Point Guard:" + @point_guard%></h2>
    <h2><%= "Shooting Guard:" + @shooting_guard%></h2>
    <h2><%= "Small Forward:" + @small_forward%></h2>
    <h2><%= "Power Forward:" + @power_forward%></h2>
    <h2><%= "Center:" + @center%></h2>


 </body>
</html>


